/* CSS Resets */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a,
      a:hover,
      a:active,
      a:visited {
      text-decoration: none;
       
      }
/* ------------ */


.orange-background {
    background: #e19b66;
 }

 .black-board {
    background: rgb(33, 33, 33);
    color: white;
    height: 45rem;
    width: 35rem;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 5px 25px 2px black;
    overflow: scroll;
 }

 @media (max-width: 900px) {
  .black-board {
    height: 30rem;
    width: 20rem;
  }
}
 